.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px; /* Largura do card */
  margin: 10px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Efeito ao passar o mouse */
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .book-cover {
    width: 100%;
    height: 200px;
    object-fit: cover; /* A capa vai cobrir totalmente a área disponível */
    margin-bottom: 15px; /* Espaço entre a capa e o restante do conteúdo */
  }

  .book-info {
    text-align: center;

    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
      color: #666;
      margin: 5px 0;
    }

    strong {
      font-weight: bold;
      color: #333;
    }
  }
}

/* Container responsivo para os cards */
.catalogo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .book-card {
    width: 100%; /* O card ocupa 100% da largura na tela pequena */
    max-width: 300px;
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
  .book-card {
    width: 100%; /* Card ocupa 100% da largura na tela extra pequena */
    max-width: 100%;
  }
}
.search-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-container input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-top: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-container input:focus {
  outline: none;
  border-color: #007bff;
}

